<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Show Movie</title>
</head>
<body>
    <p><a href="/dashboard">Home</a> | <a href="/logout">Logout</a></p>
    <h1>{{ user_wishlist.item }}</h1>
    <h5>Users Who added this product/item under their wish list:</h5>
    {% for i in wishlists %}
        <p>{{ i.name }}</p>
    {% endfor %}
</body>
</html>